body {
    font-family: open Sans;
}

input:focus {
    outline: none;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.home {
    padding-top: 15px;
    padding-bottom: 20px;
}

.header-item {
    padding-bottom: 15px;
    padding-top: 15px;
}

.ship {
    float: left;
    width: 30%;
    line-height: 1.5;
    margin-right: 15px;
}

.call-ship {
    margin-left: 15px;
    padding-left: 15px;
}

.all {
    margin-bottom: 45px;
    margin-top: 45px;
}

.item {
    float: left;
    margin-top: 5px;
    margin-right: 8px;
}

.free a {
    text-decoration: none;
    color: #000;
}

.free h4 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 520;
    font-size: 18px;
}

.free p {
    font-size: 15px;
}

.menu {
    background: #25241d;
    color: #fff;
}

.menu-2 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-2 li {
    float: left;
    position: relative;
}

.menu-2 li a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    padding: 17px 18px;
    font-weight: 500;
    display: block;
    transition: 0.8s;
}

.menu-1 li.active a {
    background-color: #e41e24;
    color: #fff;
    /* display: block;*/
}

.menu-2 li:hover a {
    background: #e41e24;
    transition: 0.8s;
}

.search form {
    position: relative;
}

.search {

    margin-top: 12px;
}

.search .inpt {
    border-radius: 35px;
    padding: 5px 20px 8px;
    width: 100%;
    background: #e41e24;
    border: none;
}

.search .inpt::placeholder {
    color: #fff;
    font-size: 16px;
}

.search .btn {
    position: absolute;
    padding: 0;
    top: 5px;
    right: 18px;
    background: transparent;
    color: #000;
    font-size: 16px;
}

.fas {
    color: #fff;
}

.bar-ul {
    list-style-type: none;
    background: #ffffff;
    margin-top: 45px;
    margin-bottom: 10px;
    border: 3px solid #eee;
    border-radius: 8px;
    padding: 10px 15px;
}

.bar-ul li {
    position: relative;
    border-bottom: 1px dotted #e4e4e4;
    display: block;
    padding: 8px 16px;
    height: 46px;
}

.bar-ul a {
    text-decoration: none;
    color: #575757;
    background: transparent;
    padding: 10px 15px;
    line-height: 2;
    padding-left: 40px;
    margin-left: -30px;
}

.bar-ul li:hover {
    color: #ffffff;
    background: #e41e24;
    border: 1px solid #e41e24;
    margin-left: -15%;
    margin-right: -15%;
    transition: 0.5s;
}

.bar-ul li:hover a {
    color: #fff;
    font-weight: 400;
}

.bar-ul li:hover i {
    color: #fff;
    padding-top: 5px;
}

.bar-ul li i {
    color: #e41e24;
    font-size: 12px;
    float: right;
}

.imgabc {
    max-width: 100%;
}
.img333{
    max-width: 100%;
}

.feature-products .feat {
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 0px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.columns-4 ul {
    margin-bottom: 50px;
    width: 100%;
    
}
.products-columns-4 li {
    list-style-type: none;
    max-width: 25%;
    padding-top: 15px;
    margin-bottom: 30px;
    float: left;
    margin-left: 0;
}



.columns-4 img {
    padding-bottom: 30px;
    max-width: 90%;
    margin-left: 19px;
    text-align: center;
    line-height: 3;
}

.columns-4 a {
    text-decoration: none;
}

.columns-4 li h2 {
    color: #000;
    font-size: 13px;
    text-align: center;
}

.center {
    text-align: center;
    margin-left: 7px;
}

.columns-4 li span {
    color: #f6b355;
    font-size: 11px;
    margin-bottom: 5px;
    display: block;
}

.columns-4 .inpt-add {
    background: #ebebeb;
    border: 1px solid #adadad;
    border-radius: 34px;
    text-align: center;
    line-height: 1;
    width: 70%;
    font-size: 13px;
    padding-top: 10px;
    color: #7b7b7b;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-weight: 620;
}
.columns-4 .inpt-add:hover{
    border-color: #ebebeb;
}
.columns-4 .inpt-add:focus{
    outline: none;
}
.inpt-view-all {
    text-align: center;
    text-decoration: none;
    border: 1px solid #e51e25;
    border-radius: 35px;
    background: #e51e25;
    color: #fff;
    max-width: 15%;
    padding-bottom: 8px;
    padding-top: 8px;
    margin: auto;
}

.inpt-view-all.view-last{
    margin-bottom: 40px;
}

.inpt-view-all .view {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
}

.inpt-view-all .view.view-last{
    margin-bottom: 30px;
}

.abc {
    color: #fff;
    padding-left: 5px;
    font-weight: 600;
}

.new-products {
    font-size: 23px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.feature-products img {
    background: #fff;
}

.products-columns-4.ul-li img {
    width: 80%;
}

.footer-1 {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #f1f1f1;
}

.footer-logo {
    margin-top: 30px;
}

.tool-bar {
    box-shadow: 6px 3px 13px 2px #eee;
}

.border-h5 {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.border-h5 h5 {
    font-weight: 600;
}

.border-h5::after {
    content: " ";
    display: block;
    background-color: #e51e25;
    height: 3px;
    width: 30px;
}

.get-in-touch h5 {
    line-height: 1.5;
    margin-bottom: 25px;
    font-size: 36px;
    padding-left: 10px;
}

.get-in-touch:after {
    content: none;
}

.contacts p {
    padding-bottom: 0;
    font-weight: 500;
    color: #6a6a6a;
}

.border-h5 p {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 10px;
}

.adress-call-mail {
    color: #777777;
    margin-right: 10px;
}

.margin-img img {
    margin-right: 20px;
}

.margin-img p {
    font-weight: 600;
    color: #6a6a6a;
    padding-bottom: 20px;
}

.hour-open img {
    float: left;
}

.open {
    float: left;
}

.open h5 {
    margin-top: 0;
    font-weight: 600;
}

.link {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link h5 {
    font-weight: 600;
    font-size: 14px;
}

.link::after {
    content: " ";
    display: block;
    background: #e51e25;
    height: 3px;
    width: 30px;
}

.menu-footer {

    list-style-type: none;
    padding-left: 0;
}

.menu-footer a {
    display: block;
    color: #ababad;
    margin-bottom: 20px;
    text-decoration: none;
}

.sign {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.sign h5 {
    font-weight: 600;
    font-size: 14px;
}

.sign::after {
    content: " ";
    display: block;
    background: #e51e25;
    height: 3px;
    width: 30px;
}

.sign-for p {
    color: #6a6a6a;
    font-weight: 600;
}

.email-subscribe {
    position: relative;
}

.email-subscribe input {
    padding: 10px;
    width: 250px;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 12px;
    border: 1px solid #e51e25;
}
.email-subscribe .your-email{
    border-radius: 5px 0px 0px 5px;
}
.email-subscribe .submit-subscribe {
    position: absolute;
    border: none;
    background: #e51e25;
    color: #fff;
    width: 120px;
    height: 51px;
    border-radius: 0px 5px 5px 0px;
}

.stay {
    padding-top: 50px;
    color: #6a6a6a;
}

.stay:after {
    content: none;
}

.contact-icon ul {
    padding-left: 0;
    padding-top: 30px;
    text-decoration: none;
    list-style-type: none;
}

.stay-icon li {
    float: left;
    padding-right: 8px;
}

.footer-2 {
    padding-top: 35px;
    padding-bottom: 25px;
    background: #e51e25;
}

.copyright p {
    color: #fff;
    text-align: center;
    align-items: center;
    font-size: 14px;
}

.copyright p a {
    text-decoration: none;
    color: #fff;
}

.suppost {
    width: 280px;
}

.hotline {
    padding-left: 60px;
}

.header-1 {
    background: #f1f1f1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.header-1 .login {
    color: #000;
}

.header-1 .equi {
    float: right;
}

.breadcrumb {
    background: #fff;
    font-size: 14px;
    margin: 20px 0 40px;
}

.breadcrumb .right {
    color: #9a9a9a;
}

.fa-home {
    color: #9a9a9a;
}

.breadcrumb a {
    text-decoration: none;
    color: #9a9a9a;
}

.impress-gitf {
    line-height: 2;
}

.impress-gitf p {
    text-align: justify;
    font-size: 14px;
    padding-bottom: 30px;
}

.check-circle .check-icon {
    background: #fff;
    color: #e51e25;
    padding-right: 8px;
}

.strong-why {
    padding-bottom: 30px;
}

.check-circle {
    line-height: 1.5;
}

.about {
    padding-bottom: 105px;
}

.pruducts {
    max-width: 100%;
}

.pruducts p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    color: #6a6a6a;
}

.projects {
    margin-bottom: 10px;
}

.bar-ul-2 {
    margin-top: 0px;
}

.profile h2 {
    font-size: 22px;
    font-weight: 670;
    margin-bottom: 35px;
    margin-top: 20px;
}

.profile {
    line-height: 1.5;
}

.profile p {
    text-align: justify;
    font-size: 14px;
    color: #6a6a6a;
}

.dola p {
    font-size: 24px;
    color: #f05738;
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 30px;
}

.btn-equiry-now button {
    color: #fff;
    background: #e51e25;
    font-weight: 700;
    width: 190px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 15px;
    border: 3px solid #e51e25;
    padding: 14px 18px;
}

.btn-face-ing {
    border: none;
    border-bottom: 3px solid;
    margin-right: 5px;
    border-radius: 2px;
    padding: 5px 10px;
    font-size: 13px;
    margin-bottom: 10px;
}

.btn-face-intagr-titew a {
    text-decoration: none;
}

.description h2 {
    border: 1px solid #e6e6e6;
    color: #25241d;
    margin-bottom: 0;
    width: 250px;
    border-bottom: none;
    font-size: 19px;
    font-weight: 700;
    margin-top: 100px;
    padding: 20px 40px;
}

.description p {
    text-align: justify;
    border: 1px solid #e6e6e6;
    color: #747474;
    padding: 35px 45px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 14px;
}
.iframe-info{
    max-width: 100%;
}

.btn-face-ing.facebook1 {
    border-bottom: 3px solid #122b40;
    border-radius: 3px;
    color: #fff;
    background: #3a579a;
}

.btn-face-ing.facebook1:hover {
    background: #204d74;
    color: #fff;
    border-bottom: 3px solid #204d74;
}

.btn-face-ing.twitter {
    border-bottom: 3px solid #0086bc;
    border-radius: 3px;
    color: #fff;
    background: #00abf0;
}

.btn-face-ing.twitter:hover {
    background: #07a2e1;
    color: #fff;
    border-bottom: 3px solid #07a2e1;
}

.btn-face-ing.google {
    border-bottom: 3px solid #b73529;
    border-radius: 3px;
    color: #fff;
    background: #ea4335;
}

.btn-face-ing.google:hover {
    background: #b73529;
    color: #fff;
}

.btn-face-ing.pinterest {
    border-bottom: 3px solid #a11619;
    border-radius: 3px;
    color: #fff;
    background: #cd1c1f;
}

.btn-face-ing.pinterest:hover {
    background: #a11619;
    color: #fff;
}

.feature-products .our--products {
    margin-top: 0;
    padding-top: 0px;
}

.read-more-down {
    border-radius: 0px;
    font-weight: 670;
    margin-bottom: 40px;
}

.maps {
    margin-bottom: 105px;
    margin-top: 30px;
    padding-top: 58px;
}

.span1-2 {
    width: 508px;
}

.first-label {
    float: left;
    width: 248px;
}

.first-label .border-none {
    border: none;
    font-size: 14px;
    margin-top: 35px;
    width: 100%;
    font-weight: 500;
    margin-right: 15px;
    border-bottom: 1.9px solid #e1e1e1;
    padding-bottom: 15px;
}

.first-label .border-none.border-lastname {
    margin-left: 24px;
    margin-right: 0px;
}

.label-form {
    padding-bottom: 15px;
}

.border-none.request {
    padding-bottom: 50px;
    width: 520px;
    margin-bottom: 20px;
}

.input-contact-submit {
    position: relative;
}

.input-contact-submit .value-submit {
    max-width: 100%;
    background: #e51e25;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border: none;
    padding: 20px;
    width: 520px;
    border-radius: 4px;
}

.padding-right-60px {
    padding-right: 60px;
}

.contacts-web {
    padding-bottom: 100px;
}

.table-enquiry {
    border: 1px solid #ddd;
    padding-bottom: 20px;
    border-bottom: 0;
    border-left: 0;
}

.table-enquiry thead {
    background: #ebebeb;
}

.table-center {
    padding-bottom: 30px;
}

.table-bordered>thead>tr>th {
    border-bottom-width: 1px;
    text-transform: uppercase;
    font-weight: 800;
}

.table-enquiry .name-product {
    padding-left: 30px;
    text-align: left;
}

.table-enquiry .name-product a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.content-banner {
    max-width: 100%;
}

.table-enquiry .remove {
    vertical-align: middle;
    height: 110px;
}

.table-enquiry a.remove-x {
    text-align: center;
    color: #e51e25;
    border: 0;
    line-height: 1;
    font-weight: 700;
    display: block;
    text-decoration: none;
    padding: 3px 1px 3px 1px;
}

.table-enquiry .remove a:hover {
    color: #fff;
    background: #e51e25;
    border-radius: 30px;
    transition: 200ms;
    font-weight: 800;
}

.enquiry-icon3 {
    padding-top: 0px;
    vertical-align: middle;
}

.center-tranform {
    text-align: center;
}

.number-with-small input {
    width: 60px;
    border-radius: 10px;
    background: #ebebeb;
    text-align: center;
    font-weight: 500;
    height: 48px;
    border: none;
}

.money {
    font-weight: 600;
}

.with-long {
    width: 340px;
}

.total-right {
    border: none;
}

.table-bordered .border-none-display {
    border: 0px solid #ebebeb;
}

.bold-er {
    font-weight: 800;
}

.organe {
    font-weight: 700;
    color: #ffd690;
}

.product-enquiry {
    padding-top: 95px;
    background: #f7f7f7;
    padding-bottom: 75px;
    background-image: url("../image/anh.jpg");
    opacity: 0.8;
    margin-top: 30px;

}

.send-enquiry{
    opacity: 2;
}

.inpt-pla::placeholder{
    color: black;
}

.h3-product-bold h3 {
    text-transform: capitalize;
    font-weight: 650;
    padding-bottom: 30px;
    font-size: 36px;
    text-align: center;
}

.border-none-bottom input {
    border: none;
  /*  border-bottom: 2px solid #e1e1e1;*/
    border-bottom: 2px solid black;
    padding: 10px 12px;
    width: 100%;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 20px;
}

textarea:focus {
    outline: none;
}

.bottom-long textarea {
    border: none;
    /*border-bottom: 2px solid #e1e1e1;*/
    border-bottom: 2px solid black;
    padding: 40px;
    width: 100%;
    padding-left: 10px;
    padding-top: 30px;
    background-color: transparent;
    font-size: 15px;
    margin-bottom: 40px;
}

.center-alia .send-submit {
    width: 100%;
    background: #e51e25;
    color: #fff;
    display: block;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    padding-bottom: 20px;
    width: 520px;
    border-radius: 4px;
    margin: auto;
}

.menu-bars {
    display: none;
    background: transparent;
    color: #fff;
    font-size: 24px;
    border: none;
}

.menu-2 li {
    position: relative;
}

.menu-1 .sub-menu{
    background-color: #fff;
    width: 800px;
    position: absolute;
    column-count: 4;
    z-index: 10;
    text-decoration: none;
}
.menu-1  ul li .sub-menu{
    /*opacity: 0;*/
    display: none;
    padding: 0;
    list-style-type: none;
    transition: opacity .5s,top .5s;
    z-index: 10;
}

.menu-1  ul li .sub-menu li{
    line-height: 15px;
    padding-left: 7px;
    visibility: visible;
}

.sub-menu li{
    float: none;
}

.menu-1 .sub-menu li{
    line-height: 15px;
    position: relative;
    text-decoration: none;
    color: #575757;
    white-space: nowrap;
    font-size: 1.5rem;
    opacity: 1;
    background-color: transparent;
    width: 100%;
    float: none;
}

.menu-1 .sub-menu li{
    float: none;
    border-bottom: 1px solid #d7d7d7;
    top: 0px;
    left: 0px;
    text-decoration: none;
    width: 100%;
    display: block;
    opacity: 1;
    visibility: visible;
    font-size: 1.5rem;
}

.menu-1 .sub-menu li a{
    background-color:  transparent;
    color: #575757;
    top: 0px;
    left: 0px;
    text-transform: none;
}
.menu-1 li:hover>ul.sub-menu{
  /*  opacity: 1;*/
  display: block;
}

.menu-1 .sub-menu li:hover{
    color: #575757;
    background-color: #f7f7f7;
    display: block;
}

.fixed{
    position: fixed;
    z-index: 10000;
    width: 100%;
    top: 0px;
}
.pagination>li>a{
    color: #000;
}
.pagination>.active>a{
    background-color: #e41e24;
    border-color: #ddd;
    color: #000;
}
.pagination>li>a:hover{
    background-color: #e41e24;
    border-color: #ddd;
    color: #fff;
}
.pagination>.active>a:hover{
    background-color: #e41e24;
    border-color: #ddd;
    color: #fff;
}

.close-btn{
    display: none;
}

.swiper-project{
    position: relative;
    height: 100%;
}
.swiper-project {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-button-next, .swiper-button-prev {
    height: 25px;
    color: #e51e25;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
      /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

@media (min-width: 1024px) {
    .menu-2 {
        width: 100% !important;
    }
    .img-homepage{
        width: 90% !important;
    }

}

@media(max-width: 768px) {
    .ship {
        float: left;
        margin-left: 5px;
        font-size: 14px;
        margin-right: 0px;
    }
    .free {
        margin-left: 37px;
        width: 100%;
    }
    .free p {
        font-size: 13px;
    }
    .free h4 {
        font-size: 14px;
    }
    .ship:nth-child(1) {
        margin-left: 45px;
        max-width: 40%;
    }
    .ship:nth-child(2) {
        margin-left: 10px;
        max-width: 30%;
    }
    .ship:nth-child(3) {
        max-width: 30%;
        margin-left: -20px;
    }
    .menu-bars:focus {
        outline: none;
    }
    .menu-bars {
        display: block;
        margin-top: 8px;
        font-size: 25px;
    }
    .search {
        position: relative;
        margin-top: 7px;
    }
    .menu-bars i {
        color: #e51e25;
    }
    .menu .menu-2 li {
        float: none;
        text-align: center;
    }
    .menu-2 {
        display: none;
    }

    .menu-1 li.active a{
        background: no-repeat;
    }

    .open-menu {
        display: block;
        position: fixed;
        z-index: 1;
        width: 100%;
        background-color: #f7f7f7;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #000;
        opacity: 0.8;
    }
    
    .menu-1 .sub-menu{
        column-count: 1;
        background-color: #f7f7f7;
        width: 100%


    }

    .menu-1  ul li .sub-menu{
        display: none;
        padding: 0;
        list-style-type: none;
    }

    .menu-1  ul li .sub-menu li{
        background:  #000;
        color: white;
    }

    .sub-menu li{
        float: none;
    }

    .menu-1 .sub-menu li{
        font-size: 1.5rem;
        opacity: 0.8;
        width: 100%;
        float: none;
    }

    .menu-1 .sub-menu li{
        float: none;
        top: 0px;
        left: 0px;
        text-decoration: none;
        width: 100%;
        display: block;
        opacity: 1;
        visibility: visible;
        font-size: 1.5rem;
        border-bottom: 0px solid #eee;
    }

    .menu-1 .sub-menu li a{
        color: white;
        top: 0px;
        left: 0px;
        text-transform: none;
    }

    .inpt-view-all .mobie-btn{
        font-size: 10px;
    }

    .menu-1 li .active {
        background-color: #f7f7f7;
    }
    
    .swiper-slide-a{
       opacity: 0.3;
    }

    .sub-sizebar{
        display: none;
    }

    .item-up{
        display: none;
    }

    .open-sizebar{
        display: block;
    }
    .inpt {
        position: absolute;
    }
    .ship {
        width: 30%;
        margin-left: 5px;
    }
    .ship.call-ship {
        margin-left: 27px;
    }
    .ship.free-info-header {
        margin-left: 0px;
    }
    .ship.hotline {
        padding-left: 0px;
        margin-right: 0;
        margin-left: 30px;
    }
    .item {
        margin-top: 4px;
        margin-right: 8px;
        margin-left: 4px;
    }
    .impress-gitf p {
        margin-left: 10px;
        margin-right: 30px;
    }
    .all.abouts-us-info {
        margin-left: -30px;
    }
    .strong-why {
        margin-left: 10px;
    }
    .check-circle {
        margin-left: 10px;
    }
    .fa-home {
        color: #000;
    }
    .border-h5 {
        text-transform: none;
    }
    .get-in-touch h5 {
        font-weight: 700;
    }
    .contacts {
        padding-left: 10px;
    }
    .bar-ul {
        padding: 0;
    }
    .bar-ul li {
        text-align: center;
    }
    .bar-ul li a {
        width: calc(100%+50px);
        margin-left: -30px;
        padding-left: 40px;
    }
    .bar-ul li:hover {
        margin-left: 0;
        margin-right: 0;
        transition: 0.5s;
    }
    .products-columns-4 li {
         max-width: 25%;
    }
    .columns-4 ul {
        margin-bottom: 30px;
        width: 100%;
       padding-left: 0;
    }
    .columns-4 li h2{
        font-size: 12px;
        margin-left: 15px;
        text-align: center;
    }
    .columns-4 .inpt-add{
        font-size: 9px;
    }
    .maps {
        text-align: center;
    }
    .inpt-view-all {
        text-align: center;
        text-decoration: none;
        border: 1px solid #e51e25;
        border-radius: 35px;
        background: #e51e25;
        color: #fff;
        max-width: 15%;
        padding-top: 8px;
        padding-bottom: 8px;      
        margin: auto;
    }
    .footer-logo{
        text-align: center;
    }
    .padding-right-60px {
        text-align: center;
        margin-left: 20px;
        margin-top: 30px;
    }
    .input-contact-submit {
        text-align: center;
    }
    .email-subscribe input{
        width: 200px;
    }
    .products-container.table{
        max-width: 100%;
    }
    .center-alia .send-submit{
        width: 100%;
    }
    .email-subscribe .submit-subscribe{
        width: 90px;
    }
    .max-with-center-products{
        text-align: center;
        width: 50%;
    }
    .clear-with-ipad{
        clear: both;
    }
    .margin-top-barsize{
        margin-top: 20px;
    }
    .margin-top-feature{
        margin-top: 40px;
    }
    .read-more-bottom{
        margin-bottom: 40px;
        border-radius: 0
    }
    .center-img-products{
        text-align: center;
        margin-top: 40px;
        max-width: 100%;
    }
    .profile{
        text-align: center;
    }
    .profile p{
        margin-left: 40px;
        margin-right: 40px;
    }
    .dola p{
        text-align: center;
    }
     
    .menu-2 li.right-delete{
       text-align: right;
    }

    .trigger-verlay{
        margin-top: 7px;
        margin-right: 6px;
        margin-bottom: 10px;
        border-radius: 50%;
        font-size: 15px;
        background-color: black;
        border: 0px;

    }

    .trigger-verlay i{
        color: white;
        font-size: 35px;
        font-weight: 700;
    }
}

@media(max-width: 600px) {
    .menu-bars:focus {
        outline: none;
    }
    .open-menu{
        width: 100%;
    }
    .menu-bars {
        display: block;
        margin-top: 8px;
        font-size: 25px;
    }
    .ship {
        padding-right: 0;
        padding-left: 0;
    }
    .free h4 {
        margin-top: 5px;
        font-weight: 550;
        font-size: 13px;
    }
    .free {
        line-height: 2;
        width: 100%;
    }
    .inpt-view-all {
        max-width: 30%;
    }
    .products-columns-4 {
        width: 100%;
    }
    .products-columns-4 li {
        max-width: 50%;
    }
    .get-in-touch h5 {
    font-size: 29px;
    }
    .footer-1 {
        padding-top: 40px;
    }
    .email-subscribe input {
        width: 200px;
    }
    .max-with-center-products {
        width: 100%;
    }
    .products-container.table{
        max-width: 100%;
    }
    .btn-face-ing {
        font-size: 11px;
        margin-right: 6px;
        width: 100%;
    }
    .footer {
        margin-bottom: 100px;
    }
    .read-more-bottom{
        width: 40%;
    }
}
